button {
    background: #305f8f;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

button:hover {
    background: #CF7A7A
}


form
{
	
	
}


form p label 
{
	display:block;
	float:left;
	width:20%;
}
